.signup-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .filed-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }
}
