.login-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  .field-form {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }
}
