@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    color: #2f2f2f;
    font-family: 'Exo 2', sans-serif;
  }

  input,
  textarea,
  button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}
